.menu {
  background-color: #fff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h3 {
  padding-left: 10px;
  color: rgba(14, 13, 15, 0.85);
}
.rightMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightMenuItem {
  padding-right: 30px;
  transition: 0.1s;
  color: rgba(14, 13, 15, 0.85);
}
.rightMenuItem:last-child {
  padding-right: 0;
}
.activeMenuItem {
  color: rgba(243, 85, 0, 0.57);
}
