.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.itemContainer{
    max-width:300px;
}
.btn{
    background-color: #b46e4c;
    padding:5px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    width:170px;
    margin:1px;
}
.btn:hover{
    background-color: #ffddcf;
    transition: 0.1s;
    transform: scale(1.04);
}
.sticker{
    max-width: 100%;
    max-height:100%;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
}