.btn{
    background-color: #b46e4c;
    padding:20px;
    max-width: 170px;
    height: 80px;
    width:100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #39271c;
    cursor: pointer;
    transition: 0.1s;
}
.btn:hover{
    background-color: #ffddcf;
    transition: 0.1s;
}